[submodule ".janus/vim-nginx"]
	path = .janus/vim-nginx
	url = https://github.com/tsl0922/vim-nginx.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".janus/indentLine"]
	path = .janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".janus/vim-gitgutter"]
	path = .janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".janus/vim-nerdtree-tabs"]
	path = .janus/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".janus/nerdtree-git-plugin"]
	path = .janus/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".janus/undotree"]
	path = .janus/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".janus/vim-autoclose"]
	path = .janus/vim-autoclose
	url = https://github.com/spf13/vim-autoclose.git
