[submodule ".janus/vim-nginx"]
	path = .janus/vim-nginx
	url = https://github.com/tsl0922/vim-nginx.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".janus/indentLine"]
	path = .janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
